body {
    background-color: hsl(207, 72%, 74%);
}

.section {
    width: 40%;
    height: 360px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 150px;
}

.titulo {
    font-size: 12px;
    font-family: Arial;
    right: 50px;
    text-align: left;
    color: rgb(0, 183, 255);
    font-weight: bold;
    padding-left: 90px;
    padding: 20px;
    margin: 0px;
}

.parrafo1 {
    font-size: 10px;
    font-family: Arial;
    right: 50px;
    line-height: 20pt;
    color: rgb(67, 212, 38);
    font-weight: bold;
    padding-left: 20px;
    margin-top: -30px;
}

.parrafo2 {
    font-size: 12px;
    font-family: Arial;
    right: 50px;
    line-height: 20pt;
    color: gray;
    padding-left: 20px;
}

.section1 {
    width: 50%;
    height: 180px;
    background-color: rgb(0, 183, 255);
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    margin: auto;
    margin-top: 150px;
    float: left;
    margin-top: 38px;
}

.section2 {
    width: 50%;
    height: 180px;
    background-color: rgb(124, 176, 197);
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    margin: auto;
    margin-top: 150px;
    float: left;
    margin-top: 38px;
}

.button {
    background-color: hsl(71, 73%, 54%);
    color: #ffffff;
    height: 30px;
    width: 70%;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    line-height: 30px;
}

.section1 h1 {
    font-size: 13px;
    font-family: arial;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-weight: 100;
}

.section2 h2 {
    font-size: 13px;
    font-family: arial;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-weight: 100;
}